## mako

<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%def name="online_help_token()"><% return "profile" %></%def>
<%namespace name='static' file='/static_content.html'/>

<!-- CSS only -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous">
<link rel="stylesheet" href="${ STATIC_URL }css/dashboard.css">

<%!
import json
from django.urls import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangolib.js_utils import dump_js_escaped_json
from openedx.core.djangolib.markup import HTML
%>

<%block name="pagetitle">${_("Dashboard | Revenue")}</%block>

<%block name="bodyclass">view-profile</%block>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="${ STATIC_URL}js/dashboard.js"></script>

<div class="container-fluid">
    <div class="row">
        <!-- Side Navigation Bar -->
        <%include file="admin_dashboard_nav.html" />

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h1">Revenue</h1>
                ##<!-- <div class="btn-toolbar mb-2 mb-md-0 dropdown">
                ##    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" id="dropdownMenuButtonCourse" data-bs-toggle="dropdown" aria-expanded="false">
                ##        <span data-feather="calendar"></span>
                ##        Filter by Course
                ##    </button>
                ##    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonCourse">
                ##        % for c in courses:
                ##            <li><a class="dropdown-item" href="#">${ c.display_name }</a></li>
                ##        % endfor
                ##      </ul>
                ##</div> -->
            </div>

            <div class="fluid-container">
                <h2 class="h2">Orders</h2>
                <div class="row my-4">

                        <!-- Median Learner Age -->
                        <!-- <div class="col-sm-1"></div> -->
                        <div class="col-sm-3 col-md-3"></div>
                        <div class="col-sm-3 col-md-3">
                            <div class="card text-center">
                                <div class="card-body">
                                    <p class="card-title text-uppercase" style="font-size: small;">Overall Revenue</p>
                                    <h1 class="card-text">$ ${ round(orders_sum, 2) }</h1>
                                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                </div>
                            </div>
                        </div>

                        <!-- Learner 25 and Under -->
                        <!-- <div class="col-sm-1"></div> -->
                        <div class="col-sm-3 col-md-3">
                            <div class="card text-center">
                                <div class="card-body">
                                    <p class="card-title text-uppercase text-center" style="font-size: small;">Current month
                                        revenue</p>
                                    <h1 class="card-text text-center">$ ${ round(current_month_revenue, 2) } </h1>
                                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                </div>
                            </div>
                        </div>

                        ##                        <!-- Learner 26 to 40 -->
                        ##                        <!-- <div class="col-sm-1"></div> -->
                        ##<!--                        <div class="col-sm-3 col-md-3">-->
                        ##<!--                            <div class="panel panel-default text-center">-->
                        ##<!--                                <div class="panel-body">-->
                        ##<!--                                    <p class="panel-title text-uppercase text-center" style="font-size: small;">Learner 26 to 40</p>-->
                        ##<!--                                    <h1 class="panel-text text-center">${ age_dist.age_btw_26_and_40 } %</h1>-->
                        ##<!--                                    &lt;!&ndash; <a href="#" class="btn btn-primary">Go somewhere</a> &ndash;&gt;-->
                        ##<!--                                </div>-->
                        ##<!--                            </div>-->
                        ##<!--                        </div>-->
                        ##
                        ##                        <!-- Courses Completed -->
                        ##                        <!-- <div class="col-sm-1"></div> -->
                        ##<!--                        <div class="col-sm-3 col-md-3">-->
                        ##<!--                            <div class="panel panel-default text-center">-->
                        ##<!--                                <div class="panel-body">-->
                        ##<!--                                    <p class="panel-title text-uppercase text-center" style="font-size: small;">Learner 41 and-->
                        ##<!--                                        Over</p>-->
                        ##<!--                                    <h1 class="panel-text text-center">${ age_dist.age_gt_40 } %</h1>-->
                        ##<!--                                    &lt;!&ndash; <a href="#" class="btn btn-primary">Go somewhere</a> &ndash;&gt;-->
                        ##<!--                                </div>-->
                        ##<!--                            </div>-->
                        </div>
                    <div class="container-fluid mt-2">
                        <div class="container mb-0 pb-0">
                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                                <h3 class="h4">Revenue by Month/Year</h3>
                                <div class="btn-toolbar mb-2 mb-md-0">
                                    <div class="dropdown">
                                      <button class="btn btn-primary dropdown-toggle"
                                              type="button"
                                              id="dropdownMenuButton"
                                              data-toggle="dropdown"
                                              aria-haspopup="true"
                                              aria-expanded="false"
                                              style="display: flex; align-items:center; justify-content:center">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                          &nbsp;
                                          % if duration == 1:
                                             First Quarter
                                          % elif duration == 2:
                                             Second Quarter
                                          % elif duration == 3:
                                             Third Quarter
                                          % elif duration == 4:
                                             Fourth Quarter
                                          % else:
                                             All
                                          % endif
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="${reverse('analytics_dashboard:admin_revenue_duration', args=[0])}">All</a>
                                        <a class="dropdown-item" href="${reverse('analytics_dashboard:admin_revenue_duration', args=[1])}">First Quarter</a>
                                        <a class="dropdown-item" href="${reverse('analytics_dashboard:admin_revenue_duration', args=[2])}">Second Quarter</a>
                                        <a class="dropdown-item" href="${reverse('analytics_dashboard:admin_revenue_duration', args=[3])}">Third Quarter</a>
                                        <a class="dropdown-item" href="${reverse('analytics_dashboard:admin_revenue_duration', args=[4])}">Fourth Quarter</a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <canvas id="revenueByMonthAndYearChart" height="300" width="500"></canvas>
                        </div>
                        <div class="col-sm-1"></div>
                        ##<!--                        <div class="col-sm-3">-->
                        ##<!--                            <ul class="list-group list-group-flush mt-5">-->
                        ##<!--                                % for k, v in learners_age_list.items:-->
                        ##<!--                                <li class="list-group-item d-flex justify-content-between align-items-center"-->
                        ##<!--                                    style="font-size: smaller;">-->
                        ##<!--                                    ${ k }-->
                        ##<!--                                    <span class="badge badge"-->
                        ##<!--                                          style="font-size:small; background-color:#1a345c;">${ v }</span>-->
                        ##<!--                                </li>-->
                        ##<!--                                % endfor-->
                        ##<!--                            </ul>-->
                        ##<!--                        </div>-->

                        <%
                        years = []
                        for k,val in orders_revenue_by_month.items():
                            years.append(k)

                        year_label = []
                        course_count_data = []
                        for k,val in orders_revenue_by_month.items():
                            course_data = []
                            for key, value in val.items():
                                course_data.append(value)
                                year_label.append(key)
                            endfor
                            course_count_data.append(course_data)
                        endfor

                        %>
                        <script>
                            ## const year_label = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                            const year_label = ${json.dumps(year_label)  | n}
                            var years = ${years}
                            var course_count_data = ${course_count_data}
                            var course_data = ${course_data}
                            <%text>
                            var ctx = document.getElementById('revenueByMonthAndYearChart')
                            // eslint-disable-next-line no-unused-vars

                            console.log('cslen', course_count_data.length)

                            function genRand(min, max, decimalPlaces) {
                                return (Math.random() * (max - min) + min).toFixed(decimalPlaces) * 1;
                            }

                            var ds = [];
                            var rgb_alpha = 0.5;
                            var rgb_colors = [
                                `rgba(255,102,102, ${rgb_alpha})`,
                                `rgba(255,178,102, ${rgb_alpha})`,
                                `rgba(51,102,0, ${rgb_alpha})`,
                                `rgba(0,153,0, ${rgb_alpha})`,
                                `rgba(0,153,76, ${rgb_alpha})`,
                                `rgba(0,204,204, ${rgb_alpha})`,
                                `rgba(102,178,255, ${rgb_alpha})`,
                                `rgba(102,102,255, ${rgb_alpha})`,
                                `rgba(178,102,255, ${rgb_alpha})`,
                                `rgba(255,102,255, ${rgb_alpha})`,
                                `rgba(255,102,178, ${rgb_alpha})`,
                                ]
                            for (i = 0; i < course_count_data.length; i++){
                                const clr = genRand(0,10,0);
                                console.log('clr', clr);
                                ds.push(
                                    {
                                        label: years[i],
                                        data: course_count_data[i],
                                        //backgroundColor: 'rgba(' + 49 + ',' + 107 + ',' + 196 + ',' + genRand(0.3, 1.0, 1) + ')',
                                        borderColor: rgb_colors[clr],
                                        backgroundColor: rgb_colors[clr],
                                    },
                                )
                            }
                            console.log('dataset', ds)


                            const numberOfCoursesChartLabels = year_label;
                            const numberOfCoursesChartData = {
                                labels: numberOfCoursesChartLabels,
                                datasets: ds
                            };

                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: numberOfCoursesChartData,
                                options: {
                                    responsive: true,
                                    parsing: {
                                        xAxisKey: 'id',
                                        yAxisKey: 'nested.value'
                                    },
                                    plugins: {
                                        legend: {
                                            position: 'top',
                                        },
                                        title: {
                                            display: true,
                                            text: 'Revenue by Month/Year'
                                        }
                                    },
                                    scales: {
                                        y: {
                                            suggestedMin: 0,
                                            beginAtZero: true
                                        }
                                    }
                                },


                            })
                            </%text>
                        </script>
                    </div>

                    <div class="container-fluid my-4">
                        <h2 class="h2">Order List</h2>
                        <div class="table-responsive">
                            ##<div class="row my-3">
                            ##    <form action="" id="myForm">
##
                            ##        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            ##            ${ orders_filter.form }
                            ##            <button class="btn btn-primary btn-sm" type="submit">Filter</button>
                            ##        </div>
                            ##    </form>
                            ##</div>
                            <table class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Order Datetime</th>
                                    <th>Username</th>
                                    <th data-field="order-total" data-sortable="true">Order Total (S$)</th>
                                    <th>Order Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <p class="text-right text-muted">showing ${len(orders)} of ${len(orders_filter)} orders</p>
                                % for order in orders:
                                <tr>
                                    <td>${ order['number'] }</td>
                                    <td>${ order['order_date'] }</td>
                                    <td>${ order['user']['username'] }</td>
                                    <td>$ ${ order['price'] }</td>
                                    <td>
                                        % if order['lines'][0]['status'] == 'Complete':
                                        <span class="badge bg-success">${ order['lines'][0]['status'] }</span>
                                        % else:
                                        <span class="badge bg-danger">${ order['lines'][0]['status'] }</span>
                                        % endif
                                    </td>
                                </tr>
                                % endfor
                                </tbody>
                            </table>

                            <!-- pagination bar-->
                            <nav class="d-flex justify-content-end" aria-label="Page navigation example">
                                <ul class="pagination d-flex justify-content-end">
                                    <li class="page-item % if not prev_url: disabled % endif:">
                                        <a class="page-link" href="${ prev_url }" tabindex="-1" aria-disabled="true">Previous</a>
                                    </li>

                                    % for n in orders.paginator.page_range:
                                        % if orders.number == n:
                                        <li class="page-item active" aria-current="page">
                                            <a a class="page-link" href="?page=${ n }">${ n }</a>
                                        </li>
                                        % elif n > orders.number -3 and n < orders.number + 3:
                                        <li class="page-item"><a class="page-link" href="?page=${ n }">${ n }</a></li>
                                        % endif
                                    % endfor

                                    <li class="page-item % if not next_url: disabled % endif">
                                        <a class="page-link" href="${ next_url }">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>


<!--<%block name="js_extra">-->

<!--</%block>-->
