<%page args="subscription" expression_filter="h"/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
%>

<%namespace name='static' file='/static_content.html'/>

<% 
# move to controller
cancel_subscription_url = '#cancel_subscription' 
renew_subscription_url = '#renew_subscription' 
%>

<li class="course-item">  
  <div class="course-container">
    <article class="course" aria-labelledby="course-title-${subscription.id}" id="course-card-${subscription.id}">
      <section class="details" aria-labelledby="details-heading-${subscription.id}">
        
        <h2 class="hd hd-2 sr" id="details-heading-${subscription.id}">Bundle Details</h2>
        
        <div class="wrapper-course-image" aria-hidden="true">
          % if subscription.status == 'active':
              <a 
                href="${reverse('plan_view', args=[subscription.subscription_plan.slug])}" 
                data-course-key="${subscription.id}" 
                class="cover course-target-link" 
                tabindex="-1"
              >
                <img src="${subscription.subscription_plan.image_url}" class="course-image" alt="${subscription.subscription_plan.name}" />
              </a>
          % else:
              <a class="fade-cover">
                <img src="${subscription.subscription_plan.image_url}"  class="course-image" alt="${subscription.subscription_plan.name}" />
              </a>
          % endif
          
        </div>

        <div class="wrapper-course-details">
          <h3 class="course-title" id="course-title-${subscription.id}">
            <a data-course-key="${subscription.id}" 
              href="${reverse('plan_view', args=[subscription.subscription_plan.slug])}" 
              class="course-target-link title-dot">
              ${subscription.subscription_plan.name}
            </a>
          </h3>
       

          <div class="course-info">
            <% 
              validity = _("{date}")
              if subscription.billing_cycle == 'onetime':
                cycle = 'valid until'
              else:
                cycle = 'per %s until' % (subscription.billing_cycle)
            %>
            <span class="info-university">Subscription: <strong>${subscription.status.capitalize()}</strong></span><br/>
            <span class="info-course-id">${cycle}</span>
            
            <span
              class="info-date-block localized-datetime" 
              data-timezone="${user_timezone}" 
              data-datetime="${subscription.subscription_plan.valid_until.strftime('%Y-%m-%dT%H:%M:%S%z')}" 
              data-format="shortDate" 
              data-string="${validity}">
            </span>

          </div>

        

          <div class="course_number">
            <ul>
              <li class="completed_chapters">
                Courses: <span> ${subscription.subscription_plan.bundle.courses.count()}</span> 
              </li>
            </ul>
          </div>

          <div class="wrapper-course-actions">
            <div class="course-actions">
              <a href="${reverse('plan_view', args=[subscription.subscription_plan.slug])}" 
                class="enter-course archived course-target-link" 
                data-course-key="${subscription.id}">
                ${_('View Courses')}
              </a>

              <div class="wrapper-action-more" data-course-key="${subscription.id}">
                <button 
                  type="button" 
                  class="action action-more" 
                  id="actions-dropdown-link-${subscription.id}" 
                  aria-haspopup="true" 
                  aria-expanded="false" 
                  aria-controls="actions-dropdown-${subscription.id}" 
                  data-course-number="${subscription.id}" 
                  data-course-name="hello" 
                  data-dashboard-index="${subscription.id}">
                  
                  <span class="sr">${_('Course options for')}</span>
                  <span class="sr">&nbsp;
                    world
                  </span>
                  <span class="fa fa-cog" aria-hidden="true"></span>
                </button>

                <div class="actions-dropdown" id="actions-dropdown-${subscription.id}" tabindex="-1">
                  <ul class="actions-dropdown-list" id="actions-dropdown-list-${subscription.id}" aria-label="${_('Available Actions')}" role="menu">
                    % if subscription.status == 'active':
                      <li class="actions-item" id="actions-item-cancel-subscription-${subscription.id}" role="menuitem">
                            <a href="#cancel-subscription-modal" class="action action-cancel-subscription" rel="leanModal"
                               data-subscription-id="${subscription.id}"
                               data-subscription-plan-name="${subscription.subscription_plan.name}"
                               data-course-refund-url="${cancel_subscription_url}">
                              ${_('Cancel Subscription')}
                            </a>
                      </li>
                  % elif subscription.status in ['cancelled', 'expired']:
                      <li class="actions-item" id="actions-item-renew-subscription-${subscription.id}" role="menuitem">
                        <a href="#renew-subscription-modal" class="action action-renew-subscription" rel="leanModal"
                          data-subscription-id="${subscription.id}"
                          data-subscription-plan-name="${subscription.subscription_plan.name}"
                          data-course-renew-url="${renew_subscription_url}">
                          ${_('Renew Subscription')}
                        </a>
                      </li>

                  % else:
                    <li class="actions-item" id="actions-item-enrolled-by-partner-${subscription.id}" role="menuitem">
                      <a class="action action-message action-unenroll-managed-enrollment">
                        ${_('Contact Support to activate this Subscription.')}
                      </a>
                    </li>


                  % endif
                  </ul>
                </div>

                
              </div>

            </div>
          </div>

        </div>
      </section>
            
    </article>
  </div>
</li>


<style>

.course-container .course_number ul {
padding:0px;
}
.course-container .course_number ul li {
background: #0075b4;
color: #fff;
font-weight: 600;
padding: 5px 10px !important;
border-radius: 0% !important;
display:inline-block;
vertical-align: middle !important;
text-align: center;
line-height: 1.5;
font-size:10px;
}
.course-container .course_number ul li span {
font-size:12px
}
.course-container .course_number {
position: absolute;
right: 18px;
}
.course-container .details {
position: relative;
}



.course_number {

    vertical-align: bottom;

}


.wrapper-course-details a.course-target-link.title-dot{
overflow: hidden;
display: -webkit-box !important;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
height: 72px;
max-width: 60%;
}


span.title-dot {
overflow: hidden;
display: -webkit-box !important;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
height: 72px;
max-width: 60%;
}

</style>

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized-datetime");
</%static:require_module_async>