<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">${name}</%block>

<%block name="js_extra">
  <script>
    $(function(){
      $("button#subscribe").click(function(){
        var sku = $(".subscription-option:checked").val();

        if (!sku) { return; }
        $("button#subscribe").prop('disabled', true);
        $('body').css('cursor', 'wait');

        let csrf = $('#web_csrf_token').val();
        let data = { "products": [{"sku": sku}] }

        $.ajax({
            type:"POST",
            url:"/api/stripe/basket/buy_now/",
            data: JSON.stringify(data),
            contentType: "application/json",
            success:function(response){
                if(response['status_code'] == 200){
                  window.location.replace("${settings.ECOMMERCE_PUBLIC_URL_ROOT}/basket/");
                }
                else{
                    console.error(response['message'])
                }
            },
            error: function(data){
                console.error(JSON.parse(data.responseText)['detail']);
            }
        });
      });
    });
  </script>
</%block>


<style>
  .container {
    padding: 0;
  }
  .subscription-block {
    margin: 1em;
  }

  .subscription-course-block {
    border: 1px solid #dedede;
    height: 10em;
    padding: 0.5em;
    margin: 0.5em 0
  }

  .plan-summary {
    border: 1px solid;
    padding: 1em;
  }
</style>

<link rel="stylesheet" href="/static/lhub/courses.css" type="text/css" media="all">


<main id="main" aria-label="Content" tabindex="-1">
  <div class="dashboard" id="dashboard-main">
    <div class="main-container">
      <div class="my-courses" id="my-courses">
  
        <section class="container">
        <div class="plan-summary row">
          <div class="container">
            <div class="row">
              <div class="col-md-5">
                <img width="400" class="thumbnail" src="${image_url}" alt="">
              </div>
              <div class="col-md-7">
                <div class="container">
                  <div class="row">
                    <div>
                      <h1 style="text-align: left;">${name}</h1>
                    </div>
                    
                    <div class="subscription-block">${description | n}</div>
                  </div>

                  % if can_subscribe:
                    <div class="row" >
                      <div class="container subscription-block">
                        <div class="row">
                          <div class="col-sm-6 col-md-5">
                            % for index, option in enumerate(options):
                              <div>
                                % if index == 0:
                                  <input 
                                    type="radio" 
                                    id="${option[0]}" 
                                    name="subscription-option" 
                                    class="subscription-option" 
                                    value="${option[3]}"
                                    checked
                                  >
                                % else:
                                  <input 
                                    type="radio" 
                                    id="${option[0]}" 
                                    name="subscription-option" 
                                    class="subscription-option" 
                                    value="${option[3]}"
                                  >
                                % endif
                                  

                                
                                <label for="${option[0]}">$${option[2]} SGD ${option[1]}</label>
                              </div>
                            % endfor

                          </div>
                          <div class="col-sm-6 col-md-5">
                            <input id="web_csrf_token" value="${csrf_token}" type="hidden"/>
                            <button id="subscribe">Subscribe</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  %endif  

                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row subscription-block">
          <h2 class="card-slider-title">Bundled Courses</h2>
          % for course in courses:
          <div class="subscription-course-block">

            <img width="200" src="${course.course_image_url}"/>

            <span>
              ${course.display_org_with_default}:${course.display_number_with_default} - ${course.display_name}
            </span>
            <span>
              <a style="float: right;" href="/courses/${course.id}/course">
                View Course
              </a>
            </span>
          </div>
          % endfor
        </div>
        
    </section>

    </div>
    </div>
  </div>
</main>  