<%page expression_filter="h"/>
<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
  from django.urls import reverse
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>
<link rel="stylesheet" href="/static/lhub/courses.css" type="text/css" media="all">

<%block name="pagetitle">${_("Bundled Courses")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="find-courses">
        <section class="courses-container">
            <div class="slider-heading"></div>

            <div class="carousel">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                    % if banner_list:
                        % for y in banner_list:
                            % if loop.index==1:
                                <li data-target="#myCarousel" data-slide-to="${y.slide_position}" class="active"></li>
                            % else:
                                <li data-target="#myCarousel" data-slide-to="${y.slide_position}" ></li>
                            % endif
                        % endfor
                    % endif
                    </ul>
                    
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                    % if banner_list:
                        % for y in banner_list:
                                % if loop.index==1:
                                <div class="item active" style="height:720px">
                                    % if y.link_type == 'ABOUT':
                                    <a href="${reverse('about_course', args=[str(y.course_over_view.id)])}">
                                    % else:
                                        % if y.link_url:
                                            <a href="${y.link_url}">
                                        % endif
                                    % endif
                                    <img src="${y.banner_img_url_txt}"  class="d-block w-100 p-0">
                                            </a>
                                <div class="carousel-caption">
                                    <h4 >${y.course_over_view.display_name_with_default}</h4>
                                </div>
                                </div>
                                % else:
                                <div class="item" style="height:720px">
                                    % if y.link_type == 'ABOUT':
                                    <a href="${reverse('about_course', args=[str(y.course_over_view.id)])}">
                                    % else:
                                        % if y.link_url:
                                            <a href="${y.link_url}">
                                        % endif
                                    % endif
                                    <img src="${y.banner_img_url_txt}"  class="d-block w-100 p-0">
                                            </a>
                                <div class="carousel-caption" >
                                    <h3>${y.course_over_view.display_name_with_default}</h3>
                                </div>
                                </div>
                                % endif
                        % endfor
                    % endif
                    </div>

        
        
                    <!--   from here -->
     
    
      

                    <section class="card-slider-container">
                        <div class="slider-heading">
                        <h2 class="card-slider-title">Bundled Courses</h2>
                        </div>
                        <div class="card-slider-courses">
                        <div class="loader-sec" id = "bundled_courses_loader" style="display:none;">
                            <div class="loader"></div>
                        </div>
                        <div id = "bundled_prev_btn" style="display:none" class="card-slider-prev-btn"><i class="fas fa-chevron-left"></i></div>
                        <div id = "bundled_next_btn" style="display:none" class=" card-slider-next-btn"><i class="fas fa-chevron-right"></i></div>
                        <ul id="bundled_courses_ul" class="card-slider-card-container owl-carousel owl-theme">

                        </ul>
                        </div>
                    </section>

                </div>

        </section>
    </section>
</main>

<script src="${static.url('js/plan_list.js')}"></script>
